<body>
        <div class="wrapper">
            <%- include includes/sidebar.ejs%>
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg" color-on-scroll="500">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="">Admin</a>
                        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <!-- <ul class="nav navbar-nav mr-auto ml-5">
                                <li class="dropdown nav-item">
                                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                        <i class="nc-icon nc-planet"></i>
                                        <span class="notification">5</span>
                                        <span class="d-lg-none">Notification</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Notification 1</a>
                                        <a class="dropdown-item" href="#">Notification 2</a>
                                        <a class="dropdown-item" href="#">Notification 3</a>
                                        <a class="dropdown-item" href="#">Notification 4</a>
                                        <a class="dropdown-item" href="#">Another notification</a>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nc-icon nc-zoom-split"></i>
                                        <span class="d-lg-block">&nbsp;Search</span>
                                    </a>
                                </li>
                            </ul> -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/newcourse">
                                        <span class="no-icon">Upload Course</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">
                                        <span class="no-icon">Log out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header" style="text-align:center">
                                <h3 class="card-title">Courses</h3>
                            </div>
                            <div class="card-body mt-5">
                                
                                <div class="row">
                                    <% coursedetails.forEach(courses => { %>
                                        <div class="col-md-4">
                                            <a href="/admin/coursedetails?course=<%= courses.coursename%>&courseid=<%= courses._id%>">
                                                <div class="card card-user">
                                                    <div class="card-body">
                                                        <h4 class="card-title text-center"><%= courses.coursename%></h4>
                                                        <p class="description text-center mt-4">
                                                            <%= courses.coursedescription%>
                                                        </p>
                                                        <p class="description mt-3">
                                                            Level: <%= courses.courselevel%><br>
                                                            Duration: <%= courses.durationyear%> year <%= courses.durationmonth%> months<br>
                                                            Registration Fee: <%= courses.registrationfee%><br>
                                                            Tuition Fee: <%= courses.tuitionfee%><br>
                                                            Total Fee: <%= courses.totalfee%><br>
                                                        </p>
                                                    </div>
                                                    <hr>
                                                    <div class="button-container mr-auto ml-auto">
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    <% }) %>
                                </div>

                            </div>
                        </div> 
                    </div>
                </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <nav>
                            
                            <p class="copyright text-center">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>
                                <a href="http://www.geu.ac.in">Graphic Era University</a>
                            </p>
                        </nav>
                    </div>
                </footer>
            </div>
        </div>
    </body>
    </html>
    